<style>
  .btnOnIcon {
    background: none;
    border: none;
  }
</style>
<!-- Modal Bootstrap 4.6-->
<div class="modal fade bd-example-modal-lg" id="mapModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">ระบุตำแหน่งร้านค้าของคุณ</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div id="map" style="width: auto;height: 500px;margin: 10px auto;"></div>
        {{!-- Map javascript API , KEY: AIzaSyCYStQigvoniTVcOguKxKJCpSpya_CeNrA --}}
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYStQigvoniTVcOguKxKJCpSpya_CeNrA&callback=initMap"
          type="text/javascript"></script>
      </div>
      <div class="modal-footer" style="margin: 0;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
  /*init map for display*/
  $(document).ready(function () {
    $('#mapModal').on('shown.bs.modal', function () {
      google.maps.event.trigger(map, "resize");
    });
  });

  function initMap() {
    // The location of Siam paragon.
    const siam = { lat: 13.746846940933356, lng: 100.53484392605075 };
    // The map, centered at siam
    const map = new google.maps.Map(document.getElementById("map"), {
      center: siam,
      zoom: 15,
    });
    // The marker, positioned at Uluru
    const marker = new google.maps.Marker({
      position: siam,
      map: map,
    });
  }

</script>