<style>
    @font-face {
        font-family: foodplus;
        src: url('/font/rsufont/RSU_Regular.ttf')
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'foodplus';
    }

    /* set fullscreen */
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #000;
    }

    #wrapper {
        min-height: 100vh;
        min-width: 100%;
    }

    /* head-font */
    #head-font {
        color: #ffc000;
        font-weight: bold;
    }

    /* Grid layout */
    .container {
        display: grid;
        grid-template:
            'header header'0.2fr 'main main'4.8fr /1fr;
        padding: 0;
    }

    header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }

    /* flex parent */
    .flex-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .flex-container>.flex-items {
        color: #fff;
    }

    .flex-container>.flex-items2 {
        color: #fff;
    }

    /* flex child */
    .flex-img-item {
        min-width: 100vh;
        width: 100%;
        background-color: #000;
        margin-bottom: 20px;
    }

    .flex-items {
        width: 500px;
        height: auto;
        margin: 0 40px;
    }

    .flex-items2 {
        padding: 10px auto;
        width: 300px;
        height: 100%;
        margin: 0 20px;
    }

    .flex-items-sm {
        width: 220px;
        height: 100%;

    }

    /* wrapper */
    .break {
        flex-basis: 100%;
        height: 0;
    }

    /* input */
    .form-control {
        margin: 0px auto;
        border: 2px solid #ffc000;
        background-color: #000;
        width: 500px;
        border-radius: 25px;
    }

    .form-control-sm {
        flex-direction: row;
        margin: 5px 0px;
        border: 2px solid #ffc000;
        background-color: #000;
        width: 220px;
        border-radius: 25px;
        height: 39.2px;
    }

    .input-group-addon {
        border-radius: 10px;
    }

    #div1 {}

    #div2 {
        display: none;
    }

    #div3 {
        display: none;
    }

    #div4 {
        display: none;
    }

    #div5 {
        display: none;
    }

    .btn {
        margin: 15px;
        width: 500px;
    }
</style>
<div class="container" id="wrapper">
    <header>
        {{> driver_header}}
    </header>
    <div class="main">
        <div class="flex-container">
            <img src="/images/Driver/driver_main_edit.png" style="box-shadow: 0 2px 4px 0 #ffc000;" alt=""
                class="flex-img-item">
        </div>
        {{!-- <div class="flex-container">
            เอาทั้งหมดมาคลุมในนี้
        </div> --}}
        <div class="flex-container" id="div1">
            <h2 style="color: #ffc000;">ลงทะเบียนผู้ขับ</h2>
            <div class="break"></div>
            <h4 style="color: #fff;">กรุณากรอกรายละเอียดผู้สมัครขับ</h4>
            <div class="break"></div>
            <div class="flex-items">
                <div class="flex-container" style="justify-content: space-between;">
                    <div class="flex-items-sm">
                        <label for="">ชื่อ</label>
                        <div class="break"></div>
                        <input class="form-control-sm" type="text" placeholder="" aria-label="default input example">
                    </div>
                    <div class="flex-items-sm">
                        <label for="">นามสกุล</label>
                        <div class="break"></div>
                        <input class="form-control-sm" type="text" placeholder="" aria-label="default input example">
                    </div>
                </div>
                <label for="">หมายเลขบัตรประชาชน</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example">
                <label for="">เบอร์โทรศัพท์</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example">
                <label for="">อีเมล</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example">
            </div>
            <div class="flex-items">
                <label for="">เพศ</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example">
                <label for="">ที่อยู่ตามทะเบียนบ้าน</label>
                <div class="break"></div>
                <label for="">จังหวัด</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example">

                <div class="flex-container" style="justify-content: space-between;">
                    <div class="flex-items-sm">
                        <label for="">เขต/อำเภอ</label>
                        <div class="break"></div>
                        <input class="form-control-sm" type="text" placeholder="" aria-label="default input example">
                    </div>
                    <div class="flex-items-sm">
                        <label for="">แขวง/ตำบล</label>
                        <div class="break"></div>
                        <input class="form-control-sm" type="text" placeholder="" aria-label="default input example">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-warning btn-lg btn-block">ถัดไป</button>
        </div>

        {{!-- <div class="flex-container" id="div2">
            <div class="flex-items">
                <h2 style="color: #ffc000;">ยืนยันอีเมล</h2>
                <h4 style="color: #fff;">กรอกรหัส OTP ส่งไปที่ example@mail.com (ref:xxx) เพื่อทำรายการต่อไป</h4>
                <div class="flex-container" style="justify-content: space-evenly">
                    <h2 style="color: #ffc000;">OTP</h2>
                    <input class="form-control-sm" style="width: fit-content;" type="text" placeholder=""
                        aria-label="default input example">
                </div>
                <a id="btn_next2" href="#" class="button" style="text-align: center;">ต่อไป</a>
            </div>
        </div> --}}

        <div class="flex-container" id="div3">
            <div style="text-align: center;">
                <h2 style="color: #ffc000;">ลงทะเบียนผู้ขับ</h2>
                <div class="break"></div>
                <h4 style="color: #fff;">กรุณาระบุพื้นที่ที่ต้องการสมัครขับ</h4>
            </div>
            <div class="break"></div>
            <div class="flex-items">
                <label for="">จังหวัด</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example">
                <label for="">แขวง/อำเภอ</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example">
                <div class="flex-container">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            ข้าพเจ้ายอมรับ
                            <a href="#" style="color: #ffc000;">เงื่อนไขและข้อตกลง</a>
                            ในการใช้บริการ Food Rider
                        </label>
                    </div>
                </div>
            </div>
            <div class="break"></div>
            <button type="submit" class="btn btn-warning btn-lg btn-block">ลงทะเบียน</button>
        </div>
        <div class="flex-container" id="div4">
            <div style="text-align: center;">
                <h2 style="color: #ffc000;">ลงทะเบียนผู้ขับ</h2>
            </div>
            <div class="break"></div>
            <div class="flex-items">
                <label for="">รหัสผ่าน</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example">
                <label for="">ยืนยันรหัสผ่าน</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example">
                {{!-- <form action="?" method="POST" id="reCAPTCHA"></form> --}}
                <div class="flex-container" style="justify-content: center;">
                    {{!-- <form action="?" id="reCAPTCHA" style="margin-top: 5px;">
                        <div class="g-recaptcha" data-callback="recaptchaCallback"
                            data-sitekey="6Le9o0MaAAAAAGPyhr4ffu9oMT2A2OtRC86B0a1v"></div>
                    </form> --}}
                    {{!-- <a id="btn_next4" disabled class="button" style="text-align: center;"
                        onclick="document.getElementById('reCAPTCHA').submit();">ลงทะเบียน</a> --}}
                </div>
            </div>
            <div class="break"></div>
            <button type="submit" class="btn btn-warning btn-lg btn-block">ลงทะเบียน</button>
        </div>

        <div class="flex-container" id="div5">
            <div class="flex-items2">
                <div style="border: 2px solid #ffc000;border-radius: 3px;margin-bottom: 10px;"></div>
                <h3 id="head-font">ชำระค่าสมัคร</h3>
                <p>400 บาทเลขที่บัญชี<br>
                    bank_id bank_name<br>
                    ชื่อบัญชี: bank_acc_name
                </p>
                <a href="#" class="button" style="text-align: center;">แนบไฟล์</a>
            </div>
            <div class="flex-items2">
                <div style="border: 2px solid #ffc000;border-radius: 3px;margin-bottom: 10px"></div>
                <h3 id="head-font">ส่งเอกสาร</h3>
                <span>กรุณาแนบเอกสารที่ใช้ในการสมัครดังนี้ <br>
                    1.สำเนาบัตรประชาชน
                </span>
                <a href="#" class="button" style="text-align: center;">แนบไฟล์</a>
                <input id="Id_exp_datepicker">
                <br>
                <span>2.สำเนาใบขับขี่</span>
                <a href="#" class="button" style="text-align: center;">แนบไฟล์</a>
                <input id="Driver_exp_datepicker">
                <br>
                <span>3.สำเนาหน้าสมุดธนาคาร</span>
                <a href="#" class="button" style="text-align: center;">แนบไฟล์</a>
            </div>
            <div class="flex-items2">
                <div style="border: 2px solid #ffc000;border-radius: 3px;margin-bottom: 10px"></div>
                <h3 id="head-font">รอดำเนินการ</h3>
                <p>บริษัทกำลังพิจารณาคุณสมบัติกรุณารอรับอีเมล</p>
            </div>
            <button type="submit" class="btn btn-warning btn-lg btn-block">ลงทะเบียน</button>
        </div>
    </div>
</div>
<script>
    $('.btn').click(function () {
        $(this).parent().hide().next().css('display', 'flex')//hide parent and show next
        return false;
    });
    /*reCAPTCHA callback*/
    function recaptchaCallback() {
        $('#submitBtn').removeAttr('disabled');
    };
</script>